#by-body
  position relative
  margin-top 150px
  z-index 1
  margin-left 240px
  margin-right: 150px;
  background-color: white;
  .by-body-header
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 75px;
    padding-top: 25px;
    background-color: #F3F3F3;
  .by-body-text
    font-family: 'Roboto', sans-serif;
    color: #737373
    padding: 50px
    .title
      color: #555
      font-size: 14px
      padding-bottom: 20px;
      text-align: center;
      width: 100%
    .list
      ol
        list-style: decimal inside;
        li
          font-size: 14px
          color: #555
          padding: 10px 0
          img
            width: 100%
            padding: 10px 50px
