@media only screen and (min-width: 0)
  #header
    position fixed
    top 0
    width: 100%
    height: 70px
    background-color #f3f3f3
    box-shadow: 0px 4px 5px 0px rgba(176,176,176,0.76);
    z-index 5
    .header-logo{
      width: 70px;
      height: 70px;
      background-color: #8a92b2;
      padding-left: 15px;
      padding-top: 5px;
      img{  
        box-shadow: 151px 130px 10px -51px rgba(0,0,0,1);
      }
    }
    .title
      padding-top: 18px;
      margin-left: 20px
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #232a40;
      font-weight: lighter;
      font-size: 24px;

@media only screen and (min-width: 364px)
  #header
    position fixed
    top 0
    width: 100%
    height: 90px
    background-color #f3f3f3
    box-shadow: 0px 4px 5px 0px rgba(176,176,176,0.76);
    z-index 5
    .header-logo{
      width: 90px;
      height: 90px;
      background-color: #8a92b2;
      padding-left: 24px;
      padding-top: 15px;
      img{
        box-shadow: 151px 130px 10px -51px rgba(0,0,0,1);
      }
    }
    .title
      padding-top: 26px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #232a40;
      font-weight: lighter;
      font-size: 24px;
