#header
  position fixed
  top 0
  width 100%
  background-color #f3f3f3
  z-index 5
  .header-logo
    background-color #161c30
  .title
    text-align center
    font-family 'Roboto', sans-serif
    color #232a40
    font-weight lighter
    font-size 24px

@media only screen and (min-width: 0)
  #header
    height 70px
    .header-logo
      width: 70px;
      height: 70px;
      padding-left 5px
      padding-top 10px
    .title
      padding-top 18px
      margin-left 20px

@media only screen and (min-width: 364px)
  #header
    height 90px
    .header-logo
      width 90px
      height 90px
      padding-left 15px
      padding-top 15px
    .title
      padding-top 26px