#header
  top 0
  height 60px
  position fixed
  background-color #8a92b2
  width 100%
  height 60px
  z-index 5
  box-shadow 0px 3px 20px 0px rgba(83,92,127,1)
  .title-logo
    height 60px
    .header-logo
      width 60px
      height 60px
      position relative
      background-color #535c7f
      img
        width 35px
    .title
      text-transform uppercase
      font-family 'Roboto', sans-serif
      font-size 18px
      height 60px
      font-weight bold

@media only screen and (min-width: 0)
  #header
    .main-menu
      background-color #ececec
      height 100%
    .title-logo
      width 100%
      background-color #535c7f
      .header-logo
        padding-left 15px
        padding-top 10px
      .title
        display block
        color white
        width 100%
        padding-left 0
        padding-top 5px

@media only screen and (min-width: 550px)
  #header    
    .main-menu
      padding-top 14px
      padding-right 15px
      background-color #ececec
      margin-top 0
      height 60px
    .title-logo
      position fixed
      width auto
      top 0
      .title
        display block
        background-color #535c7f
        color white
        width 120px
@media only screen and (min-width: 48em)
  #header
    .title-logo
      background-color transparent
      .title
        background-color transparent
        width 200px
        color #405064
        padding-left 15px
        padding-top 15px