.header-share-icons
  .ant-btn.icon-default
    background-color transparent
    box-shadow none
    width auto
    height 20px
    &:hover
    &:active
    &:focus
    &:active:focus
      background-color transparent
    .fa
      font-size 20px
    .fa-facebook
      color #3b5998
    .fa-twitter
      color #00aced
    .fa-google-plus
      color #dd4b39