#menu
  float right
  z-index 10
  a
    display inline-block
    text-decoration none
  .menu-item
    font-size 16px
    .dot
      display inline-block
      background-color #405064
      height 5px
      width 5px
      border-radius 50%
      margin 0 10px 3px 10px
    .text
      text-transform uppercase
      font-weight: 600
      color #405064
      font-family: 'Roboto', sans-serif
      .anticon
        padding-right 5px
// @media only screen and (min-width: 0)
//   #menu
//     .menu-item
//       height 100%
@media only screen and (min-width: 364px)
  #menu
    margin-top 32px

@media only screen and (min-width: 48em)
  #menu
    margin-top 32px