.ant-modal-mask
  background-color: rgba(83, 92, 127, 0.8) !important
.ant-modal-header
  padding 15px
  .ant-modal-title
    text-transform uppercase
    font-size 18px
    color #444
.sell-modal
  .ant-modal-body
    padding 0
    background-color #ededed
  .ant-modal-footer
    padding 15px
    cursor pointer
    font-size 18px
    text-align center
    color white
    background-color #535c7f
    text-transform uppercase
  .ant-modal-close
    background-color #535c7f
    color white
    &:hover
      color white
    .ant-modal-close-x
      width 35px
      height 35px
      line-height 35px
#menu
  z-index -5
  a
    display inline-block
    text-decoration none
  .menu-item
    font-size 16px
    cursor pointer
    .dot
      background-color #405064
      height 5px
      width 5px
      border-radius 50%
      margin 0 10px 3px 10px
    .text
      text-transform uppercase
      font-weight: 600
      color #405064
      font-family: 'Roboto', sans-serif 
      .anticon
        padding-right 5px
@media only screen and (min-width: 0)
  .sell-modal
    .ant-modal-close
      right 0px
      top -35px
  #menu
    box-shadow inset 2px 2px 20px 0px rgba(83,92,127,1), 0px 2px 20px 0px rgba(83,92,127,1)
    .folding-menu
      padding 10px
      cursor pointer
      text-align center
      font-weight bold
      color #405064
      font-size 20px
      .anticon
        padding-left 5px
    .menu-unfold
      display none
    .menu-item
      padding-bottom 10px
      text-align center
      display block
      height 100%
      .dot
        display none
@media only screen and (min-width: 550px)
  #menu
    box-shadow none
    float right
    margin-top 32px
    .folding-menu
      display none
    .menu-item
      display inline-block
      .dot
        display inline-block
    .menu-unfold
      display block
@media only screen and (min-width: 48em)
  .sell-modal
    .ant-modal-close
      right -35px
      top -35px
  #menu
    margin-top 32px