{
  "presets": [
    "es2017",
    "react",
    "stage-2",
    "env"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }],
    "transform-runtime"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}