#contact
  font-size 18px
  color #444
  .form
    margin 0 25px
    padding 25px 0
    .ant-input-affix-wrapper
      margin-bottom 10px
      > input
        font-size 16px
        height auto
        padding 5px 10px 5px 30px
      .ant-input-prefix
        font-weight bold
    textarea
      margin-top 10px
      font-size 16px
      padding 5px 10px
