#buy-body, #faq-body, #sell-body
  position relative
  z-index 1
  .body
    margin 0 auto 30px auto
    max-width 800px
    .title
      height 75px
      background-color #9fa5bf
      padding-top 25px
      p
        text-align center
        font-weight bold
        font-size 20px
        color white
    .info
      background-color white
      color #555
      padding 35px 50px
      .info-title
        text-align center
        font-weight bold
        font-size 16px
        padding-bottom 10px
      ol
        list-style decimal inside
        li
          padding 10px 0
          img
            width 100%
            padding-top 10px
  @media only screen and (min-width: 0)
    margin-top 140px
  @media only screen and (min-width: 364px)
    margin-top 180px
  @media only screen and (min-width: 48em)
    margin-top 95px
    margin-left 90px
    .body .info img
      padding-left 50px
      padding-right 50px