#buy-body, #faq-body, #sell-body
  position relative
  z-index 1
  .body
    .info
      padding 0 10px
      background-color white
      color #555
      .info-title
        text-align center
        font-weight bold
        font-size 16px
        padding-bottom 10px
      ol
        list-style decimal inside
        li
          padding 10px 0
          img
            width 100%
            padding-top 10px
  // @media only screen and (min-width: 0)
  //   margin-top 140px
  // @media only screen and (min-width: 364px)
  //   margin-top 180px
  // @media only screen and (min-width: 48em)
  //   margin-top 95px
  //   margin-left 90px
  //   .body .info img
  //     padding-left 50px
  //     padding-right 50px