#search
  display inline-block
  margin 16px 15px
  .ant-input
    &-prefix
      font-size 16px
      font-weight bold
      color #ccc
      left 13px
    &:not(:first-child)
      padding-left 35px
  input
    color #505050
    font-size 16px
    border-radius 20px
    &:focus, &:hover
      border-color #d9d9d9
      outline none
      box-shadow none
@media only screen and (min-width: 48em)
  #search
    .ant-input-affix-wrapper
      width 250px

@media only screen and (min-width: 750px)
  #search
    .ant-input-affix-wrapper
      width 110%
