#search
  position relative
  display inline-block
  height 28px
  margin 16px 15px
  .anticon-search
    position absolute
    font-size 16px
    font-weight bold
    color #ccc
    z-index 10
    left 10px
    top 50%
    margin-top -8px
  .ant-select
    width 100%
    &-selection
      color #505050
      font-size 14px
      border-radius 20px
      height 28px
      overflow hidden
      &__placeholder
        left 30px
      &__rendered
        padding-left 30px
      &__choice
        color black
        background-color: rgba(237, 237, 237, 0.6)
        font-size 12px
        line-height 20px
      &:focus
      &:hover
      &:active
        border-color #d9d9d9
        outline none
        box-shadow none
@media only screen and (min-width 0) and (max-width 549px)
  #search
    width 120px
@media only screen and (min-width 550px) and (max-width 47.9em)
  #search
    width 280px
@media only screen and (min-width 48em)
  #search
    width 350px      