#faq-body
  position relative
  z-index 1
  .body
    .info
      padding 0 10px
      background-color white
      color #555
      .info-title
        text-align center
        font-weight bold
        font-size 16px
        padding-bottom 10px
      ol
        list-style decimal inside
        li
          padding 10px 0