#faq-body
  position relative
  margin-top 150px
  z-index 1
  margin-left 90px
  .body
    margin 0 auto 50px auto
    max-width 800px
    .title
      height 75px
      background-color #f3f3f3
      padding-top 25px
      p
        text-align center
        font-weight bold
        font-size 20px
        color #737373

    .info
      background-color white
      color #555
      padding 35px 50px
      ol
        list-style decimal inside
        li
          padding 10px 0