.single-domain
  padding 30px
  font-size 14px
  color #555
  > div
    padding-top 10px
  .domain
    &-logo
      width 100px
      display block
      margin 0 auto
    &-name
      text-align center
      color #4876a9
      font-size 20px
    &-share-icons
      padding-top 10px
      text-align center
    &-wallet
      word-break break-all
    &-categories
      b
        margin-right 8px
      .ant-tag
        margin-bottom 8px