#search
  display inline-block
  margin 16px 15px
  .ant-input
    &-affix-wrapper
      width auto
    &-prefix
      font-size 16px
      font-weight bold
      color #ccc
      left 13px
    &:not(:first-child)
      padding-left 35px
  input
    color #505050
    font-size 16px
    border-radius 20px
    &:focus, &:hover
      border-color #d9d9d9
      outline none
      box-shadow none