#buy
  font-size 18px
  color #444
  .table-domains
    width 100%
    border-collapse collapse
    tbody > tr
      border thin solid #ccc
      td
        padding 10px 0
        &:first-child
          padding-left 15px
        &:last-child
          margin-right 15px
      .name-title
        width 110px
        color #999
      .price
        float right
        position relative
        padding-right 20px
        .eth
          position absolute
          top 10px
          right 0
          color #999
          font-size 10px
          font-weight bold
          text-transform uppercase
  .contact-form
    margin 25px 20px 0 20px
    padding-bottom 25px
    .ant-input-affix-wrapper
      margin-bottom 10px
      input
        font-size 16px
        height auto
        padding 5px 10px 5px 30px
      .ant-input-prefix
        font-weight bold
    textarea
      font-size 16px
      padding 5px
